.topnav {
    background-color: #1f1f1f;
    overflow: hidden;
    margin: 1px;
}

.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.nav-title {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
}

