<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="https://scikit-media-am831.s3.us-west-2.amazonaws.com/static/css/homepage.css" >
     <link rel="stylesheet" href="https://scikit-media-am831.s3.us-west-2.amazonaws.com/static/css/navbar.css" >
     <link rel="stylesheet" href="https://scikit-media-am831.s3.us-west-2.amazonaws.com/static/css/uploadpage.css" >
</head>
<body>

<div class="topnav">
  <div class="nav-title">Medical Image Classification </div>
    <img src="https://scikit-media-am831.s3.us-west-2.amazonaws.com/static/img/icon1.png" id="iconimg"/>
    <a href="viewDataBase">View gallery</a>
    <a href="/">Home</a>
</div>
  {% block content%}
  {% endblock %}
</body>
</html>